<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Finder Results</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/show.css">

</head>
<body>
  <%- include('../../layout/header.ejs') %>
  <h2 class='mainhead'>Here's what we've got:</h2>
  <ul class='booklist'>
      <%- include('../../layout/details.ejs', {'book' : newBook, displayLink : false, displayInfo: true}) %>
  </ul>
  <% if(displayButton) {%>
  <button id="updateBook">Update Book</button>
  <% } %>
  <button id="deleteBook">Delete Book</button>
  <%- include('../../layout/edit.ejs', {'newBook' : newBook}) %>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="/app.js"></script>
</body>
</html>