<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Finder</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules/modules.css">
</head>
<body>
  <%- include('../../layout/header.ejs', {'onHome' : false, 'onSearch' : true}) %>

  <h2 class='mainhead'>Search by Title Or Author</h2>
  <div id="wrapper">
    <%- include('../../layout/edit.ejs', {'newBook': false, 'updatePage' : false}) %>
  </div>
</body>
</html>