<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Finder Results</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules/modules.css">

</head>
<body>
  <%- include("../../layout/header.ejs", {"onHome" : false, "onSearch" : false}) %>
  <h2 class="mainhead">Here's what we found:</h2>
  <ul class="booklist">
    <%newBooks.forEach(book => {%>
      <%- include("../../layout/details.ejs", {"book" : book, displayLink : true, displayInfo: false, displayButtons: false}) %>
    <%})%>
  </ul>

</body>
</html>