<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books Homepage</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules/modules.css">
  <link rel="stylesheet" href="/styles/modules/show.css">

</head>
<body>
  <%- include("../layout/header.ejs", {onHome : true, "onSearch" : false}) %>

  <%if (newBooks.length > 0){%> 
  <section class="homeHead">
    <h2>You've got <%=newBooks.length%> books stored, here they are:</h2>
    <button><a href="/resetDatabase">Click Here to Clear Saved Books</a></button>
  </section>
  <ul class="booklist">
    <%newBooks.forEach(book => {%>
      <%- include("../layout/details.ejs", {"book" : book, displayLink : true, displayInfo: true}) %>
    <%})%>
  </ul>  <%}else{%>
    <section class="homeHead">
      <h2>Welcome to Book World! Please proceed to the search page to start building your collection!</h2>
      <button><a href="/searches/new">Search For New Books</a></button>
    </section>

  <%}%>

</body>
</html>