<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books Homepage</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/show.css">
</head>
<body>
  <%- include('../layout/navbar.ejs') %>

  <%if (newBooks){%> 
  <h2>You've got <%=newBooks.length%> books stored, here they are:</h2>
  <%- include('../layout/booklist.ejs') %>
  <%}%>
</body>
</html>