<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Homepage</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
  <nav>
    <h1>Welcome to Book World!</h1>
    <!-- Make a toggle menu? -->
  </nav>
    <h3>Click the button below to view our catalogue!</h3>
    <input type="submit" value="Go To Search Page" 
    onclick="window.location='/searches/new';" />   
  </body>
</html>