<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav Partial</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
</head>
<body>
  <nav>
    <h1>Book World</h1>
    <div>
      <ul>
        <a href="/searches/new.ejs"><li>Search Page</li></a>
      </ul>
    </div>
  </nav>
</body>
</html>