

nav {
  padding: 20px 25px; 
  display: flex;
  justify-content: space-between;
}

nav > div   {
  width: fit-content;
}

.mainhead {
  text-align: center;
  padding: 15px 0;
}

#wrapper {
  margin: 0 auto;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
fieldset > ul >li {
  width: 80%;
  padding: 12px 20px;
  margin: 20px 30px;
  box-sizing: border-box;
}

label {
  padding-right: 10px;
}

div {
  width: 80%;
}

input[type='submit'] {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  border: none;
}

.booklist >li {
  width: 30%;
  height: 500px;
  padding: 12px 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.booklist > li > * {
  margin: 10px 0;
}

.details > li{
  height: 700px;
}

#detailsdescription{
  height: 500px;
}

.homeHead {
  margin: 20px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
}

.bookShowButtons {
  margin: 0 auto;
  width: fit-content;
  margin-top: 30px;
}


/* Hamburger menu: */

#linkMenu {
  position: absolute;
  display: flex;
  top: 0;
  right: 60px;
}

#linkMenu > li:nth-child(2) {
  margin-left: 20px;
}

#hamburgerToggle {
  display: block;
  position: relative;
  top: 8px;
  /* right: 20px; */
  
/*   z-index: 1; */
}


#hamburgerToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 0px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
}
#hamburgerToggle span {
  display:block;
  width: 30px;
  height: 3.5px;
  margin-bottom: 5px;
  position: relative;

  border-radius:3px;

  /* z-index:1 */

  transform-origin: 4px 0px;
}

#hamburgerToggle span:first-child {
  transform-origin: 0% 0%;
}

#hamburgerToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* Turn the top + bottom spans /s */
#hamburgerToggle input:checked ~ span {
  /* opacity: 1; */
  transform: rotate(45deg) translate(-2px, -1px);
  /* background: white; */
}
/* Make middle on invisible */
#hamburgerToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* Flip the bottom one so it goes the other direction, making an X */
#hamburgerToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#hamburgerToggle > ul{
  visibility: hidden;
}

#hamburgerToggle input:checked ~ #linkMenu{
  visibility: visible;
}

/* END HAM MENU */

#bookSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bookSearch > * {
  margin-top:20px;
}

/* Customizing radio buttons, inspired by https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
#bookSearch > section > label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* Hide normal radio button */
#bookSearch > section > label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Radio button style */
.customRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* Change background on mouse over */
#bookSearch > section > label:hover input ~ .customRadio {
  background-color: #ccc;
}

/* Change background when clicked */
#bookSearch > section > label:checked input ~ .customRadio{
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.customRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#bookSearch > section > label input:checked ~ .customRadio:after {
  display: block;
}

/* Style the checkmark/indicator bubble */
#bookSearch > section > label .customRadio:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
