@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Ubuntu+Mono&display=swap');

body {
  background-color: gray;
  font-family: 'Ubuntu Mono', monospace;
}

nav {
  background-color: black;
}


h1 {
  font-size: 18px;
  color: white;
  font-family: 'Balsamiq Sans', cursive;
}

h2 {
  font-size: 15px;
  color: white;
  font-family: 'Balsamiq Sans', cursive;

}

.booklist >li {
  background-color: rgb(236, 184, 184);
}