li {
  width: 80%;
  height: 500px;
  padding: 12px 20px;
  margin: 20px auto;
  background-color: rgb(236, 184, 184);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

li > * {
  margin: auto;
}

li > p {
  overflow: auto;
  height: 100px;
}

li > h1 {
  font-weight: bolder;
}

li > h3 {
  font-style: italic;

}

li > img {
  width: 150px;
}

@media screen and (min-width: 600px){
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li {
    width: 40%;
  }
}