

.booklist > li > p:nth-child(4) {
  overflow: auto;
  height: 100px;
}

.booklist >li > h1 {
  font-weight: bolder;
}

.booklist >li > h3 {
  font-style: italic;

}

.booklist >li > img {
  width: 150px;
}

@media screen and (min-width: 600px){
  .booklist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .booklist >li {
    width: 30%;
  }
}